header {
    background-color: #3273a8;
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-size: 35%;
}

header img{
    width: 20%;
    padding-top: 30px;
}

table{
    text-align: left;
    background-color: #9ad1ff;
    border-spacing: 0px;
}

th.tablespacing{
    width: 30%;
}

tr.header-tab{
    color: white;
    background-color: #3273a8;
}

tr.pair-row{
    background-color: white;
}

section p{
    margin: 0;
}

section h1{
    margin-bottom: 0px;
}

b{
    background-color: yellow;
}